.AppComponent {
  font-family: monospace;
}

.AppComponent__Title {
  display: inline-block;
}

.AppComponent__Error {
  color: red;
}

.AppComponent__Loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AppComponent__UILoading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}