.AppComponent {
  font-family: monospace;
}

.AppComponent__Title {
  display: inline-block;
}

.AppComponent__Error {
  color: red;
}

.AppComponent__Todos {
  margin: 20px 30px;
}

.AppComponent__Loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}